[submodule "thirdparty/rtmidi"]
	path = thirdparty/rtmidi
	url = https://github.com/Wohlstand/rtmidi.git
[submodule "thirdparty/simpleini"]
	path = thirdparty/simpleini
	url = https://github.com/jpcima/simpleini.git
